.btn-wrap {
  width: 100%;
}

.wrapper {
  margin-top: 200px;
  background-color: #E0E0E0;
}

.inputbox {
  text-align: center;
}


.username{
  margin: 0 auto;
  float: none;
  display:inline-block;
  width: 100%;
  height: 30px;
}
