.material-card {
  background: #eeeded;
	border-radius: 3px;
}

.material-card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.center-panel {
  background-color: white;
}

.post-img-header {
  max-width: auto;
  height: auto;
}

.post-text-header {
  padding: 15px;
}

.content-single{
	padding: 20px;
}

.content-single .tag span{
	margin-right: 7px;
}

.content-single h2{
	font-weight: 600;
	margin-bottom: 10px;
}

.content-single p{
	font-weight: 400;
  text-align: justify;
}

.content-single .hr-single{
	border-bottom: 2px dashed #ddd;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-single .tag a{
	color: #999;
}

.content-single .tag a:hover{
	color: #FFC107;
}

.content-single .tag i.fa{
	margin-right: 7px;
	color: #ddd;
}

.content-single .tag i.fa.fa-circle{
	font-size: 6pt;
	color: #FFC107;
}
