/* IMPORT
===============================*/

@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('owl.carousel.css');
@import url('owl.theme.css');
@import url('owl.transitions.css');
@import url('');


/* GENERAL
===============================*/

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('/static/fonts/Roboto-Regular.ttf'); /*URL to font*/
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 300;
	background-color:  #eeeded;
	scrollbar-face-color: #121212;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #ecf0f1;
}

::-webkit-scrollbar-thumb {
	background-color: #34495e;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: #000000;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
}

a{
	color: #bdc3c7;
	text-decoration: none;
}

a:hover{
	color: #FFC107;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

/*	BOOTSTRAP RESET
===============================*/

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group{
	margin-left: 0;
}

.form-control{
	border: 1px solid #ecf0f1;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.form-control:focus{
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-default{
	background-color: #bdc3c7;
	border:1px solid #bdc3c7;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-default:hover{
	background-color: #7f8c8d;
	border: 1px solid #7f8c8d;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-primary{
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-primary:hover{
	background-color: #2980b9;
	border: 1px solid #2980b9;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-success{
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-success:hover{
	background-color: #27ae60;
	border: 1px solid #27ae60;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-info{
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-info:hover{
	background-color: #16a085;
	border: 1px solid #16a085;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-warning{
	background-color: #C11D1D;
	border: 1px solid #C11D1D;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-warning:hover{
	background-color: #c62828;
	border: 1px solid #c62828;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-danger{
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.btn.btn-danger:hover{
	background-color: #c0392b;
	border: 1px solid #c0392b;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span{
	border-top-left-radius: 100%;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span{
	border-top-right-radius: 100%;
}

.pagination li a{
	margin-right: 7px;
	margin-left: 7px;
	border: 1px solid #fff;
	color: #34495e;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	    -ms-border-radius: 100%;
	     -o-border-radius: 100%;
}

.pagination li a:hover{
	background-color: #FFC107;
	color: #fff;
	border: 1px solid #f39c12;
}

.input-group-addon{
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.label{
	border-radius: 0;
	line-height: 2.2;
	font-weight: 300;
	font-size: 100%;
}

.label-default{
	background-color: #161616;
}

.label-default[href]:hover,
.label-default[href]:focus{
	background-color: #FFC107;
}

.label-primary{
	background-color: #3498db;
}

.label-primary[href]:hover,
.label-primary[href]:focus{
	background-color: #2980b9;
}

.label-success{
	background-color: #2ecc71;
}

.label-success[href]:hover,
.label-success[href]:focus{
	background-color: #27ae60;
}

.label-info{
	background-color: #1abc9c;
}

.label-info[href]:hover,
.label-info[href]:focus{
	background-color: #16a085;
}

.label-warning{
	background-color: #FFC107;
}

.label-warning[href]:hover,
.label-warning[href]:focus{
	background-color: #f39c12;
}

.label-danger{
	background-color: #e74c3c;
}

.label-danger[href]:hover,
.label-danger[href]:focus{
	background-color: #c0392b;
}

.thumbnail{
	border-radius: 0;
	padding: 0;
}

.progress{
	height: 30px;
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
}

.progress-bar{
	line-height: 30px;
	background-color: #34495e;
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
}

.progress-bar-primary{
	background-color: #3498db;
}

.progress-bar-success{
	background-color: #2ecc71;
}

.progress-bar-info{
	background-color: #1abc9c;
}

.progress-bar-warning{
	background-color: #FFC107;
}

.progress-bar-danger{
	background-color: #e74c3c;
}

/*	HEADER
===============================*/





#header .title-header p{
	font-weight: 400;
}



#header .header-top{
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0px 0;
	margin-bottom: 0px;
}

#header .header-top .sosmed-header-top i.fa{
	margin: 0 15px;
}

#header .header-top .sosmed-header-top i.fa:hover{
	color: #bdc3c7;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}



#header .slide-header{
	margin-bottom: 25px;
}

#header .slide-header h5,
#header .slide-header h2{
	font-weight: 600;
}

#header .button-down i.fa{
	font-weight: 600;
	font-size: 18pt;
}

.navbar.navbar-default{
	background-color: #212121;
	border-bottom: 3px solid #eeeded;
	margin-bottom: 5px;
	padding: 8px 0;
}

.navbar.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar.navbar-default .navbar-nav>.active>a:hover,
.navbar.navbar-default .navbar-nav>.active>a:focus{
	background-color: #212121;
	color: #B2DFDB;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	color: #fff;
	background-color: #c62828;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
	border-color: transparent;
}

.dropdown-menu{
	background-color: #FFC107;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu li a{
	color: #fff;
	padding: 10px 20px;
}

.navbar-default ul.nav li a{
	font-weight: 400;
	color: #B2DFDB;
}

.navbar-default ul.nav li a:hover{
	color: #FFC107;
}



/* SINGLE BLOG
===============================*/
.material-card {
  background: #eeeded;
	border-radius: 3px;
}

.material-card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.center-panel {
  background-color: white;
}

.post-img-header {
  max-width: auto;
  height: auto;
}

.post-text-header {
  padding: 15px;
}

.content-single{
	padding: 20px;
}

.content-single .tag span{
	margin-right: 7px;
}

.content-single h2{
	font-weight: 600;
	margin-bottom: 10px;
}

.content-single p{
	font-weight: 400;
  text-align: justify;
}

.content-single .hr-single{
	border-bottom: 2px dashed #ddd;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-single .tag a{
	color: #999;
}

.content-single .tag a:hover{
	color: #FFC107;
}

.content-single .tag i.fa{
	margin-right: 7px;
	color: #ddd;
}

.content-single .tag i.fa.fa-circle{
	font-size: 6pt;
	color: #FFC107;
}

/*	COMMENTS
===============================*/

.comment:before,
.comment:after {
	content: "";
	display: table;
	clear: both;
}

.comment h3,
.form-comment h3{
	font-size: 24px;
	line-height: 26px;
	color: #5c7280;
	margin: 20px 0 40px;
}

.comment ul.comments > li > img {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
	border: 5px solid #ddd;
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	opacity: 1;
	filter: Alpha(opacity=100);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
}

ul.comments{
	list-style: none;
	padding-left: 0;
}

ul.comments p.meta{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 13px;
}

.post-comments {
	border: 1px solid #eee;
	margin-bottom: 20px;
	margin-left: 85px;
	margin-right: 0px;
	padding: 10px 20px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	background: #ecf0f1;
	color: #6b6e80;
	position: relative;
}

.post-comments:before {
	content: "";
	position: absolute;
	top: 8px;
	left: -10px;
	border: 10px;
	border-top: 10px solid transparent;
	border-right: 10px solid #ecf0f1;
	border-bottom: 10px solid transparent;
	border-left: 0px solid transparent;
}

.comment ul.comments ul {
	margin-left: 85px;
}

.form-comment .form-control{
	background-color: #ecf0f1;
	box-shadow: none;
	border: 2px solid #ecf0f1;
}

.form-comment .form-control:focus{
	border: 2px solid #FFC107;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}



/* FOOTER
===============================*/

footer{
	background-color: #455A64;
	padding: 30px 0;
	border-top: 7px solid #bdc3c7;
	color: #ecf0f1;
}

footer .widget-footer{
	margin-bottom: 20px;
}

footer h4{
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid #ecf0f1;
}

footer h4:after{
	position: absolute;
	display: block;
	content: '';
	padding-bottom: 10px;
	border-bottom: 2px solid #FFC107;
	width: 100px;
}

footer .sosmed-footer i.fa{
	background-color: #161616;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 6.5px;
	padding-left: 7.5px;
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 4px;
}

footer .sosmed-footer i.fa:hover{
	background-color: #FFC107;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.footer-bottom{
	background-color: #161616;
	padding: 20px 0 15px;
	color: #ecf0f1;
}

.footer-bottom p{
	margin-bottom: 0;
}

.footer-bottom a{
	font-size: 10pt;
	margin-left: 10px;
}

.footer-bottom a:hover{
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

/*
===============================*/
