<!DOCTYPE html>
<html lang="en">
<head>
	<link href="static/css/style.css" rel="stylesheet" media="screen">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rupor</title>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<!-- start:header -->


	<!-- end:header -->

	<!-- start:navbar -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><strong><i class="fa fa-bullhorn "></i> RUPOR</strong></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">HOME</a></li>
					<li><a href="about.html">ABOUT</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				      	<input type="text" class="form-control" placeholder="Введите email">
				      	<span class="input-group-btn">
				        	<button class="btn btn-warning" type="button">Подписаться</button>
				      	</span>
				    </div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- end:navbar -->

	<!-- start:main -->
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<!-- start:content -->
					<div id="content">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/grazd.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">Гражданский порыв</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>11 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/strelkov.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">Мозаика в коричневых тонах</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>10 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/march.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">О Фейках</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>9 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/vto.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">Вот вам, бабушка, и ВТО! Евросоюз ввёл импортные пошлины на сталь"</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>8 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/mozgovoy.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">«Спутник и погром» против Мозгового?</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>7 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/child.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">Стук в дверь! Пришли за вашим ребёнком. Что делать?</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>6 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/rada.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">«Примирение»</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>5 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/max.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">Безумный макс: Дорога ярости</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>4 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<aside>
										<img src="static/content/goi.jpg" class="img-responsive">
										<div class="content-title">
											<div class="text-left">
												<h3><a href="single.html">«В натуре, блин, мужик!»</a></h3>
											</div>
										</div>
										<div class="content-footer">
											<span>4 мая 2015</span>
											<span class="pull-right">
												<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
												<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
											</span>
										</div>
									</aside>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="text-center">
									<ul class="pagination">
									  	<li><a href="#">&laquo;</a></li>
									  	<li><a href="#">1</a></li>
									  	<li><a href="#">2</a></li>
									  	<li><a href="#">3</a></li>
									  	<li><a href="#">4</a></li>
									  	<li><a href="#">5</a></li>
									  	<li><a href="#">&raquo;</a></li>
									</ul>
								</div>
							</div>

					</div>
					<!-- end:content -->
				</div>
		</div>
	</div>
	<!-- end:main -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="widget-footer">

						<div class="sosmed-footer">
							<a href="#"><i class="fa fa-vk" data-toggle="tooltip" data-placement="top" title="Vkontakte"></i></a>
							<a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="top" title="Google-Plus"></i></a>
							<a href="#"><i class="fa fa-youtube" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>

						</div>
					</div>
				</div>


	</div>
</div>

</body>
</html>
