{% extends "base.html" %}
{% block head %}{% endblock %}
<body>
	{% block content %}
	<!-- start:main -->
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<!-- start:content -->
					<div id="content">
						<div class="row">
							{% for post in posts %}
								<div class="col-lg-4 col-md-4">
									<div class="material-card">
										<a href={{ post.id }}>
											<aside>
												<center>
													<img src={{ post.image_link }} class="img-responsive">
												</center>
												<div class="content-title">
													<div class="text-left">
														<h3><a href={{ post.id }}>{{ post.title_header }}</a></h3>
													</div>
												</div>
												<div class="content-footer">
													<span>{{ post.creation_date[:10] + ' ' + post.author_name_manual }}</span>
													<span class="pull-right">
														<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
														<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
													</span>
												</div>
											</aside>
										</a>
									</div>
								</div>
							{% endfor %}
							<div class="col-lg-12 col-md-12">
								<div class="text-center">
									<ul class="pagination">
									  	<li><a href="#">&laquo;</a></li>
									  	<li><a href="#">1</a></li>
									  	<li><a href="#">2</a></li>
									  	<li><a href="#">3</a></li>
									  	<li><a href="#">4</a></li>
									  	<li><a href="#">5</a></li>
									  	<li><a href="#">&raquo;</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}


</body>
</html>
