{% extends "base.html" %}
{% block head %}{% endblock %}
<body>
	{% block content %}
	<!-- start:main -->
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<!-- start:content -->
					<div id="content">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/grazd.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">Гражданский порыв</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>11 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/strelkov.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">Мозаика в коричневых тонах</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>10 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/march.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">О Фейках</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>9 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/vto.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">Вот вам, бабушка, и ВТО! Евросоюз ввёл импортные пошлины на сталь"</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>8 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/mozgovoy.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">«Спутник и погром» против Мозгового?</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>7 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
							  	</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/child.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">Стук в дверь! Пришли за вашим ребёнком. Что делать?</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>6 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/rada.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">«Примирение»</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>5 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/max.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">Безумный макс: Дорога ярости</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>4 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="material-card">
									<a href="post">
										<aside>
											<img src="static/content/goi.jpg" class="img-responsive">
											<div class="content-title">
												<div class="text-left">
													<h3><a href="post">«В натуре, блин, мужик!»</a></h3>
												</div>
											</div>
											<div class="content-footer">
												<span>4 мая 2015</span>
												<span class="pull-right">
													<a href="#"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Comments"></i> 30</a>
													<a href="#"><i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Loved"></i> 20</a>
												</span>
											</div>
										</aside>
									</a>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="text-center">
									<ul class="pagination">
									  	<li><a href="#">&laquo;</a></li>
									  	<li><a href="#">1</a></li>
									  	<li><a href="#">2</a></li>
									  	<li><a href="#">3</a></li>
									  	<li><a href="#">4</a></li>
									  	<li><a href="#">5</a></li>
									  	<li><a href="#">&raquo;</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}


</body>
</html>
