<!DOCTYPE html>
<html lang="en">
<head>
	<link href="static/css/post.css" rel="stylesheet" media="screen">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="static/content/favicon-bullhorn.ico" />
    <script src="static/bower_components/pace/pace.js"></script>
    <link href="static/bower_components/pace/themes/purple/pace-theme-flash.css" rel="stylesheet" />
	<title>Rupor</title>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<!-- start:header -->


	<!-- end:header -->

	<!-- start:navbar -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><strong><i class="fa fa-bullhorn "></i> RUPOR</strong></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="blog">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				      	<input type="text" class="form-control" placeholder="Введите email">
				      	<span class="input-group-btn">
				        	<button class="btn btn-warning" type="button">Подписаться</button>
				      	</span>
				  </div>
					<div class="input-group">
				      	<span class="input-group-btn">
									<a href="/login">
				        		<button class="btn" type="button">logout</button>
									</a>
				      	</span>
				  </div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- end:navbar -->

  <!-- start:single blog -->
  <div id="single-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 left-panel"></div>
        <div class="col-lg-8 col-md-8 center-panel material-card">
          <!-- start:single content -->
          <div id="main-single-content">
						<h2><center class="post-text-header text-left">Гражданский порыв.</center></h2>
						<h3><center class="post-text-header text-left">Первый шаг на пути формирования реального ответа на глобальный неофашистский вызов — налицо.</center></h3>
            <center><img src="static/content/grazd-wide.jpg" class="img-responsive post-img-header"></center>
            <div class="content-single">
              <div class="tag">
                <p>
                  <span><i class="fa fa-user"></i> <a href="#">Автор: Сергей Кургинян</a></span>
                  <i class="fa fa-circle"></i>
                  <span><i class="fa fa-calendar"></i> <a href="#"> 14 мая 2015 г.</a></span>
                  <i class="fa fa-circle"></i>
                  <span><i class="fa fa-tag"></i> <a href="#">Гражданское общество</a>, <a href="#">Россия</a></span>
                </p>
              </div>
              <div class="hr-single"></div>
								<p>Владимир Маяковский в своем стихотворении «Послушайте!» настаивал на том, что «если звезды зажигают — значит — это кому-нибудь нужно?»
									 Почему бы именно это не поставить во главу угла, обсуждая беспрецедентный успех тех гражданских акций во славу Дня Победы, которые
									затмили даже очень яркий и убедительный парад, произошедший в этот же день на Красной площади?</p>
								<p>Если люди выходят 9 мая с портретами своих героических предков, победивших гитлеровскую гадину, значит, им это нужно, не правда ли?</p>
								<p>Заметьте, я не утверждаю, что раз эти люди вышли 9 мая с портретами своих родственников, то они немедленно после этого начнут строить
									новую жизнь. Я даже не утверждаю, что выход этих людей на шествие является несомненным доказательством их мобилизованности на те или иные
									свершения, наличия у них воли к переменам или отсутствия оных.</p>
								<p>Я всего лишь говорю, что если бы всем этим людям вместе и каждому из них в отдельности не было бы зачем-то нужно взять и выйти на
									определенное действо в определенный день, то они бы не вышли. А раз они вышли, — значит, им нужно было выйти. В какой степени нужно было?
									Конечно же, в разной. Но в достаточной для того, чтобы выйти, преодолев и нынешнюю социальную атомизацию, и некое естественное нежелание
									выставлять напоказ нечто вполне интимное, и банальное нежелание тащиться куда-то, невесть куда, нарываясь, возможно, на самые разные дискомфорты.</p>
								<p>Если степень, в которой тебе нужно оказаться в этот день вместе с другими, творя настоящее единство живых и мертвых, то есть соборное
									единство, не так уж велика, ты не выйдешь. А значит, полумиллиону москвичей и миллионам граждан по всей России это было по-настоящему нужно.</p>
								<p>А когда столь многим это настолько нужно, то впору говорить о гражданском порыве, способном при определенных условиях перевести общество
									в новое состояние. Возникнут ли эти условия? Достаточно ли могучим и долговременным является гражданский порыв? Это покажет будущее.
									Но то, что речь идет о гражданском порыве, — несомненно. Кого же, как не тех, кто вышел 9 мая на улицы, ответив этим на очень определенный
									вызов, надо называть гражданами? Неужели тех, кто, видя этот порыв и поджимая хвост, отрабатывает номер, клевеща на безусловную, совсем
									уж неоспоримую, бескорыстную самоорганизацию, породившую неслыханное шествие? Гражданственность и такая бескорыстная самоорганизация суть синонимы, так ведь?
								<p>И только отпетые ничтожества, опаскудившиеся сверх всякой меры, могут объяснять неслыханное людское скопление — благородное, сдержанное
									и оптимистичное — тем, что людям, вышедшим на улицы 9 мая на акцию «Бессмертный полк», заплатили, что их свезли на автобусах и так далее.
									Обычные ничтожества, обычным образом опаскудившиеся, этого уже не верещат. Потому что понимают, что никто не поверит. А не поверив, скажут,
									что заплатили понятно кому — тем, у кого ни стыда, ни совести. И понятно, за что, — за то, чтобы хоть как-то, хоть в какой-то степени
									поставить под вопрос то несомненное, что мы увидели 9 мая.</p>
								<p>Что же мы увидели? В Москве мы увидели сотни тысяч людей разного возраста, разного социального положения, разного вероисповедания и разных
									национальностей, объединенных желанием быть вместе в день великого праздника. Можно спорить о том, насколько могучим, долговременным и на
									что-то нацеленным является это желание. Но даже в худшем для нас случае — если оно не сподвигнет никого ни на что в дальнейшем — это не
									отменяет его наличия.</p>
								<p>Не отменяет его бескорыстности.</p>
								<p>Не отменяет его осмысленности.</p>
								<p>И само наличие желания, и его бескорыстность, и его осмысленность — это константы новой российской жизни. Будь ты десять раз
									оппозиционер или сто раз отпетый иноземный враг державы Российской, тебе всё равно надо признать новизну этой жизни, если ты хочешь
									осуществлять свои цели в реальности, а не видеть сны наяву или отрабатывать номер.</p>
								<p>Новизна этой реальности столь же несомненна, как и три ее перечисленные выше черты, каковыми являются: а) наличие мотивации к выходу
									на улицу 9 мая на акцию «Бессмертный полк»; б) бескорыстность этой мотивации (никто никому, конечно же, не платил, а каждый подонок,
									который попытался бы это сделать, нарвался бы в этот день на здоровенную оплеуху) и в) осмысленный характер мотивации, которую мы обсуждаем.</p>
								<p>Люди выходили не пошататься по улицам в праздничный день. Они осуществляли совместно некий вполне осмысленный ритуал. Я бы даже сказал,
									более чем осмысленный. И они действительно творили его впервые за последние десятилетия.</p>
								<p>Конечно же, в Российской Федерации вообще и в Москве в частности им были предоставлены условия для осуществления данного действа. Для
									них расчистили улицы. Им помогли напечатать портреты своих родных, обзавестись флагами. Им обеспечили ту безопасность, которую не так уж
									легко обеспечить участникам полумиллионного московского шествия.</p>
								<p>Но, согласитесь, если бы им всё это обеспечили три года назад, не было бы ни такого числа желающих воспользоваться этим обеспечением, ни
									такого человеческого подъема.</p>
								<p>Перед 9 мая 2015 года очень большое число граждан России и достаточное число граждан других государств вдруг поняли, что у них хотят
									отобрать нечто ценное. При этом нужно было понять и то, что нечто хотят отобрать, и то, что это нечто обладает ценностью и не должно быть
									отдано без боя.</p>
								<p>В предыдущей передовице я уже писал о том, что Победа осталась огромной ценностью для наших сограждан и представителей других государств
									вопреки колоссальным усилиям, направленным на то, чтобы эту ценность, так сказать, обнулить. Или даже превратить в антиценность. Я уже
									писал о том, что даже в лихие 90-е по-настоящему атаковать Победу не осмеливалась ни наша элита (очень, между прочим, антисоветская, а
									значит, по определению и анти-Победная), ни находившееся под ее опекой информационное воинство. Исподтишка и те, и другие, конечно же,
									Победу дискредитировали. Мол, и цена за нее была заплачена слишком большая, и политический смысл ее был вовсе не безусловен, ибо победители
									укрепили власть «омерзительных тоталитарных энкавэдэшников», и вели себя эти самые победители далеко не так благородно, как это описывали
									дежурные советские пропагандисты, и немок на самом деле насиловали немерено, и с инакомыслящими расправлялись, и сопредельные державы,
									освобождая, порабощали, и... и... и...</p>
								<p>Да что уж там лихие 90-е! Совсем недавно, присутствуя на параде в честь Дня Победы, я слышал о том, что победили — вопреки ужасам ГУЛАГа
									и прочим ужасам. Впервые, кстати, я не услышал этого, присутствуя на параде 9 мая 2015 года. И это так же знаменательно, как то, что
									Президент РФ Владимир Путин отказался уравнять Гитлера и Сталина. Да, полный отказ от разного рода покаяний, сопровождавших в прежние
									годы восхваление Победы, произошел только сейчас. Но, повторяю, никогда, даже в самые страшные годы антисоветского лихолетья никто не
									осмеливался вообще не восхвалять Победу и полностью подменить это восхваление унизительным покаянием. Потому что все понимали, что если
									Победу превратить из высшей ценности в ничто или, тем более, в антиценность, то государство рухнет. Ибо распадутся последние скрепы,
									исчезнут последние крохи какого-то, даже самого хиленького консенсуса.</p>
								<p>Да, в какой-то степени Победу все эти годы, так сказать, держали на плаву — стыдливо, половинчато, но держали.</p>
								<p>Впервые, пожалуй, исчезла эта стыдливость и половинчатость. Но если бы всё свелось к этому исчезновению, то такого гражданского подъема,
									конечно, не было бы.</p>
								<p>Подъем, конечно же, порожден и обнаружением того, что враг, поверженный 9 мая 1945 года, жив и жаждет реванша.</p>
								<p>Подъем порожден еще и тем, что этому жаждущему реванша бандеровскому неонацистскому врагу слишком очевидно стал подыгрывать Запад.
									И возникло реальное подозрение в том, что этот самый Запад сам оскоромился каким-то неонацизмом, конечно, сильно модифицированным,
									но не ставшим от этого менее ядовитым. Одно дело — если рецидив нацизма касается только Украины. А другое дело — если каким-то загадочным
									образом оплотом неонацизма становятся и могущественные США, и пресмыкающиеся перед ними западноевропейские элиты. В этом случае — а именно
									он-то и стал рассматриваться в постмайданный период как нечто отнюдь не вымышленное — над нашей Родиной нависает угроза гораздо большая,
									чем в 1933 году.</p>
								<p>И, наконец, подъем порожден тем, что Государство Российское дерзнуло ответить на вызов ренацификации — то ли локально-бандеровской,
									то ли глобально-неонацистской.</p>
								<p>Общество не верило в то, что государство поведет себя таким образом. Оно далеко не без оснований сомневалось в способности ЭТОГО
									государства повести себя подобным образом. Не дрогнет ли оно? Не струсят ли его высокие представители в момент, когда им пригрозят разного
									рода санкциями?</p>
								<p>Ко всем перечисленным мною достаточно очевидным причинам, породившим неслыханный и беспрецедентный успех гражданской акции, посвященной
									празднованию Великой Победы, наверное, надо добавить и нечто менее очевидное. То, про что великий английский поэт Байрон сказал:
									«Встревожен мертвых сон, — могу ли спать?» Очень и очень многие почувствовали, что не могут спать, а значит, должны пробудиться, в силу того,
									что слишком уж встревожен сон мертвых, которые им всегда были дороги и особую ценность которых они ощутили в момент метафизического
									осквернения их сна.</p>
								<p>Ответив на брошенный вызов, гражданское общество России породило волну сопротивления во всем мире. И мы должны отдать дань этому сопротивлению.
									Потому что одно дело — выходить на чествование Победы в нашей стране, где это никоим образом не наказуемо, а другое дело — решиться на подобное
									в логове украинско-бандеровского врага.</p>
								<p>Итак, первый шаг на пути формирования реального ответа на глобальный неофашистский вызов — налицо.</p>
								<p>Порадуемся этому.</p>
								<p>Всмотримся в характерные черты этого первого, достаточно робкого шага.</p>
								<p>Осознаем, сколь мал и робок этот первый шаг по сравнению с тем, что должно быть сделано для формирования полноценного отпора очень мощному врагу.</p>
								<p>И, сказав, что путь осилит идущий, двинемся дальше.</p>
								<p>С Днем Победы!</p>
								<p>До встречи в СССР!</p>
              <div class="hr-single"></div>
              <!-- start:comments -->
              <div id="comments-list">
                <!-- start:comments list -->
                <div class="comment">
                  <h3>Comments List</h3>
                  <ul class="comments">
                                    <li>
                                        <img src="static/content/strelkov-ava.jpg">
                                        <div class="post-comments">
                                            <p class="meta">Juni 30, 2014 <a href="#">Admin</a> says : <i class="pull-right"><a href="#"><small class="btn btn-xs btn-default">Reply</small></a></i></p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
																								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="static/content/strelkov-ava.jpg">
                                        <div class="post-comments">
                                            <p class="meta">July 1, 2014 <a href="#">Admin</a> says : <i class="pull-right"><a href="#"><small class="btn btn-xs btn-default">Reply</small></a></i></p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
                                            </p>
                                        </div>
                                        <ul class="comments hidden-xs list-unstyled">
                                            <li class="clearfix">
                                                <img src="static/content/strelkov-ava.jpg" class="avatar" alt="danish personal blog and magazine template">
                                                <div class="post-comments">
                                                    <p class="meta">July 2, 2014 <a href="#">Admin</a> says : <i class="pull-right"><a href="#"><small class="btn btn-xs btn-default">Reply</small></a></i></p>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Etiam a sapien odio, sit amet
                                                    </p>
                                                </div>
                                                <ul class="comments list-unstyled">
                                                    <li class="clearfix">
                                                        <img src="static/content/strelkov-ava.jpg" class="avatar" alt="danish personal blog and magazine template">
                                                        <div class="post-comments">
                                                            <p class="meta">July 3, 2014 <a href="#">Admin</a> says : <i class="pull-right"><a href="#"><small class="btn btn-xs btn-default">Reply</small></a></i></p>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Etiam a sapien odio, sit amet
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="clearfix">
                                        <img src="static/content/strelkov-ava.jpg" class="avatar" alt="danish personal blog and magazine template">
                                        <div class="post-comments">
                                            <p class="meta">July 5, 2014 <a href="#">Admin</a> says : <i class="pull-right"><a href="#"><small class="btn btn-xs btn-default">Reply</small></a></i></p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam a sapien odio, sit amet
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                </div>
                <!-- end:comments list -->
                <!-- start:form comment -->
                <div class="form-comment">
                  <h3>Form Comments</h3>
                  <form role="form">
                    <div class="row">
                      <div class="form-group col-md-4">
                        <input class="form-control input-lg" placeholder="Name..">
                      </div>
                      <div class="form-group col-md-4">
                        <input class="form-control input-lg" placeholder="Email..">
                      </div>
                      <div class="form-group col-md-4">
                        <input class="form-control input-lg" placeholder="Url..">
                      </div>
                      <div class="form-group col-md-12">
                        <textarea class="form-control" rows="10" placeholder="Messages.."></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button class="btn btn-lg btn-default btn-block">SUBMIT</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- end:form comment -->
              </div>
              <!-- end:comments -->
            </div>
          </div>
          <!-- end:single content -->
        </div>
        <div class="col-lg-2 col-md-2 right-panel"></div>
      </div>
    </div>
  </div>
